---
---

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

/* ==========================================================================
   Force vertical stack of author avatar, name, and links
   ========================================================================== */

@media screen {
  .author__stacked {
    display: flex ;
    flex-direction: column ;
    align-items: flex-start ;
    gap: 0.5rem ;
    margin-bottom: 1rem;   // or padding-bottom: 1rem;
  }

  .author__avatar,
  .author__content,
  .author__urls-wrapper,
  .author__logo {
    position: relative;
    display: block ;
    float: none ;
    width: 100% ;
    padding: 0 ;
    margin: 0 ;
  }

  .author__avatar img,
  .author__logo img {
    width: 200px;
    height: auto ;
    border-radius: 10% ;
  }

  .author__content {
    padding-left: 0 ;
    padding-right: 0 ;
  }

}
